{% extends "layout.html.twig" %}

{% block content %}

<video autoplay loop muted id="video">
			<source src="assets/images/Medieval.mp4" type="video/mp4">
		</video>


	<h1>Les Personnages</h1>


	{% for i in 0..articlesLength %}

		{% if articles[i].name_type =="Personnalité historique" %}

			<div class="container-fluid flex-row">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{articles[i].name}}</h5>
						<h5 class="card-title">Formule
							{{formules[i].formule_name}}</h5>
						<h6 class="card-title">{{formules[i].montant}}
							Millions $</h6>
						<p class="card-text">{{articles[i].description}}</p>
						<a href="#" class="card-link">Ajouter au panier</a>

					</div>
				</div>
			</div>

		{% endif %}

	{% endfor %}


	<h1>Les Grands évènements</h1>

	{% for i in 0..articlesLength %}

		{% if articles[i].name_type =="Evénement" %}

			<div class="container-fluid flex-row">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{articles[i].name}}</h5>
						<h5 class="card-title">Formule
							{{formules[i].formule_name}}</h5>
						<h6 class="card-title">{{formules[i].montant}}
							Millions $</h6>
						<p class="card-text">{{articles[i].description}}</p>
						<a href="#" class="card-link">Ajouter au panier</a>

					</div>
				</div>
			</div>

		{% endif %}

	{% endfor %}


	<h1>Les situations du quotidien</h1>

	{% for i in 0..articlesLength %}

		{% if articles[i].name_type =="situation du quotidien" %}

			<div class="container-fluid flex-row">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{articles[i].name}}</h5>
						<h5 class="card-title">Formule
							{{formules[i].formule_name}}</h5>
						<h6 class="card-title">{{formules[i].montant}}
							Millions $</h6>
						<p class="card-text">{{articles[i].description}}</p>
						<a href="#" class="card-link">Ajouter au panier</a>

					</div>
				</div>
			</div>

		{% endif %}

	{% endfor %}

{% endblock %}
