{% extends "layout.html.twig" %}


{% block content %}

	{# <pre>
		    {{ dump(epoques) }}
		</pre> #}
	<span class="h1epoque">
        <h1>Choisissez l'époque à laquelle vous souhaitez que nos gènes vous transportent !</h1>
	</span>
	<video autoplay loop muted id="video">
		<source src="assets/images/Romain.mp4" type="video/mp4">
	</video>

	<div class="classepoque container d-flex p-2 align-content-start justify-content-around flex-wrap">
		{% for epoque in epoques %}

<a href="epoque/articles?id={{epoque.id}}" class="card-link">
			<div class="card " style="width: 18rem;">
				<img class="card-img-top" src="assets/images/{{epoque.name}}.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{epoque.name}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Période
						{{epoque.date}}</h6>


					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="epoque/articles?id={{epoque.id}}" class="card-link">Découvrez nos fabuleuses expériences</a>
					<a href="#" class="card-link">Another link</a>



				</div>
			</div> </a>

		{% endfor %}
	</div>

{% endblock %}
